@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-border: #2e2e2e;
}

@theme inline {
  --color-background: #060606;
  --color-primary: #f6f6f6;
  --color-secondary: #7a7a7a;
  --color-tertiary: #2e2e2e;
  --color-highlight: #22222277;

  --font-sans: var(--font-pp-neue-montreal);
  --font-mono: var(--font-pp-neue-montreal-mono);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-primary min-h-svh font-mono;
  }
}

@utility bg-noise {
  @apply before:absolute before:top-0 before:left-0 before:size-full before:bg-[url(/noise.webp)] before:bg-repeat before:opacity-30 before:-z-50;
}

@utility highlight-border-l {
  @apply relative before:absolute before:h-5 before:w-0.5 before:bg-secondary before:top-1/2 before:-translate-y-1/2 before:left-0 hover:before:w-1 before:transition-all;
}
